<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.dao.permit.RolePermitMapper">
  <resultMap id="BaseResultMap" type="ming.po.permit.RolePermit">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="permit_id" jdbcType="VARCHAR" property="permitId" />
  </resultMap>
  <delete id="deleteByRoleId" parameterType="java.lang.String">
    delete from pmt_role_permit
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ming.po.permit.RolePermit">
    insert into pmt_role_permit (role_id, permit_id)
    values (#{roleId,jdbcType=VARCHAR}, #{permitId,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    begin

    <foreach item="rolePermit" index="index" collection="list"
             separator=";">
      insert into pmt_role_permit (role_id, permit_id)
      values (#{rolePermit.roleId,jdbcType=VARCHAR}, #{rolePermit.permitId,jdbcType=VARCHAR})
    </foreach>
    ;
    end ;

  </insert>
</mapper>
