<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ming.framework.core.dao.ErrorCodeMapper">
    <resultMap id="BaseResultMap" type="ming.framework.core.po.ErrorCode">
        <id column="ERR_CODE" property="errCode" jdbcType="VARCHAR"/>
        <result column="MESSAGE" property="message" jdbcType="VARCHAR"/>
        <result column="AUTHOR" property="author" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ERR_CODE, MESSAGE, AUTHOR, CREATE_TIME, LAST_UPDATE_TIME
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_ERROR_CODE
    </select>
</mapper>
