<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.framework.core.dao.ServiceApiMapper">
  <resultMap id="BaseResultMap" type="ming.framework.core.po.ServiceApi">
    <id column="API_ID" jdbcType="VARCHAR" property="apiId" />
    <result column="API_NAME" jdbcType="VARCHAR" property="apiName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="SERVICE" jdbcType="VARCHAR" property="service" />
    <result column="FUNCTION" jdbcType="VARCHAR" property="function" />
    <result column="API_VERSION" jdbcType="VARCHAR" property="apiVersion" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="NEED_LOGIN" jdbcType="VARCHAR" property="needLogin" />
    <result column="NEED_TOKEN" jdbcType="VARCHAR" property="needToken" />
    <result column="NEED_REQ_TOKEN" jdbcType="VARCHAR" property="needReqToken" />
    <result column="NEED_PERMIT" jdbcType="VARCHAR" property="needPermit" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    API_ID, API_NAME, DESCRIPTION, SERVICE, FUNCTION, API_VERSION, STATUS, REMARK, AUTHOR, 
    NEED_LOGIN, NEED_TOKEN, NEED_REQ_TOKEN, NEED_PERMIT, CREATE_TIME, LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_api
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from service_api
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ming.framework.core.po.ServiceApi">
    insert into service_api (API_ID, API_NAME, DESCRIPTION, 
      SERVICE, FUNCTION, API_VERSION, 
      STATUS, REMARK, AUTHOR, 
      NEED_LOGIN, NEED_TOKEN, NEED_REQ_TOKEN, 
      NEED_PERMIT, CREATE_TIME, LAST_UPDATE_TIME
      )
    values (#{apiId,jdbcType=VARCHAR}, #{apiName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{service,jdbcType=VARCHAR}, #{function,jdbcType=VARCHAR}, #{apiVersion,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{needLogin,jdbcType=VARCHAR}, #{needToken,jdbcType=VARCHAR}, #{needReqToken,jdbcType=VARCHAR}, 
      #{needPermit,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="ming.framework.core.po.ServiceApi">
    insert into service_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apiId != null">
        API_ID,
      </if>
      <if test="apiName != null">
        API_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="service != null">
        SERVICE,
      </if>
      <if test="function != null">
        FUNCTION,
      </if>
      <if test="apiVersion != null">
        API_VERSION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="needLogin != null">
        NEED_LOGIN,
      </if>
      <if test="needToken != null">
        NEED_TOKEN,
      </if>
      <if test="needReqToken != null">
        NEED_REQ_TOKEN,
      </if>
      <if test="needPermit != null">
        NEED_PERMIT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apiId != null">
        #{apiId,jdbcType=VARCHAR},
      </if>
      <if test="apiName != null">
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="function != null">
        #{function,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="needLogin != null">
        #{needLogin,jdbcType=VARCHAR},
      </if>
      <if test="needToken != null">
        #{needToken,jdbcType=VARCHAR},
      </if>
      <if test="needReqToken != null">
        #{needReqToken,jdbcType=VARCHAR},
      </if>
      <if test="needPermit != null">
        #{needPermit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ming.framework.core.po.ServiceApi">
    update service_api
    <set>
      <if test="apiName != null">
        API_NAME = #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        SERVICE = #{service,jdbcType=VARCHAR},
      </if>
      <if test="function != null">
        FUNCTION = #{function,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        API_VERSION = #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="needLogin != null">
        NEED_LOGIN = #{needLogin,jdbcType=VARCHAR},
      </if>
      <if test="needToken != null">
        NEED_TOKEN = #{needToken,jdbcType=VARCHAR},
      </if>
      <if test="needReqToken != null">
        NEED_REQ_TOKEN = #{needReqToken,jdbcType=VARCHAR},
      </if>
      <if test="needPermit != null">
        NEED_PERMIT = #{needPermit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ming.framework.core.po.ServiceApi">
    update service_api
    set API_NAME = #{apiName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      SERVICE = #{service,jdbcType=VARCHAR},
      FUNCTION = #{function,jdbcType=VARCHAR},
      API_VERSION = #{apiVersion,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      NEED_LOGIN = #{needLogin,jdbcType=VARCHAR},
      NEED_TOKEN = #{needToken,jdbcType=VARCHAR},
      NEED_REQ_TOKEN = #{needReqToken,jdbcType=VARCHAR},
      NEED_PERMIT = #{needPermit,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </update>
</mapper>