<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.dao.query.QueryUserMapper">
    <select id="selectAllUserList" resultType="ming.po.permit.User">
        select
        user_id as userId,
        name as name,
        nick_name as nickName,
        status as status,
        create_time as createTime,
        last_update_time as lastUpdateTime
        from pmt_user
        <where>
            <if test="userId!=null and userId!=''">
                user_id like concat('%',#{userId,jdbcType=VARCHAR},'%')
            </if>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="status!=null and status!=''">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
