<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ming.dao.query.QueryUserRoleMapper">
    <select id="selectRoleListByUserId" resultType="ming.po.permit.UserRole">
        select
        user_id as userId,
        role_id as roleId
        from pmt_user_role
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>
